body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-image: url("header.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.titleText {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: 35vh;
  text-align: center;
  font-size: 1.8em;
}

hr {
  background-color: rgba(255, 0, 0, 0.65);
  position: relative;
  top: 55%;
  width: 200px;
}

#mc_embed_signup {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subscribe {
  text-transform: uppercase;
  background-color: rgba(255, 0, 0, 0.65);
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  border: none;
}
